.project-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.project-list{
    width: 80%;
    margin: 0 auto;
}
.item{
    display: flex;
}